<p>First item with filter=1 without .@each: <span class="without">{{filteredData1.label}}</span></p>
<p>First item with filter=1 with .@each: <span class="with">{{filteredData2.label}}</span></p>
<p>First item with filter=1 without composing: {{filteredData3.label}}</p>
<button {{action 'test'}}>Test</button>
<p>All the items should find '1' after you press the test button</p>
<br>
<br>